<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Expo Fedecámaras Carabobo 2022</title>
		<link rel="icon" type="image/ico" href="favicon.ico">
		<link rel="stylesheet" href="./lector.css">
        <script type="text/javascript" src="../js/funciones.js"></script>
		<script type="text/javascript" src="./instascan.min.js"></script>
	</head>
	<body>
		<div style="width: 100%; align-items: center;">
			<h3 id="tituloformulario" align="center" style="margin-top: 10px;">LECTOR DE CÓDIGOS QR</h3>
			<p align="center">Coloque el código en el siguiente recuadro.</p>
			<div class="framevideo" >
				<div class="frame2">
					<video id="preview" class="vd"></video>
					<div class="scanner-laser laser-rightBottom"></div>
					<div class="scanner-laser laser-rightTop"></div>
					<div class="scanner-laser laser-leftBottom"></div>
					<div class="scanner-laser laser-leftTop"></div>
				</div>
			</div>
		</div>
		<div style="width: 100%; margin-top: 48%; text-align: center;">
			<p id="mensaje" align="center"></p>
			<br/>
			<button id="volver" style="width: 60px; height: 30px; margin: auto;" onclick="volveralmenu()">Volver</button>
			<audio id="beep" src="" />
		</div>
	   <script type="text/javascript">
         const operador = localStorage.getItem("nombre");
         const dia      = localStorage.getItem("dia");
			let salir      = localStorage.getItem("url_bck2");
         let beep       = './audio/beep.mp3';

			let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });

			scanner.addListener('scan', function (content) {
				if (content) {
               mensaje = 'Cantidad de personas:';
               cantidad = prompt(mensaje,1)
               if (cantidad!=0 && cantidad!=null) {
                  if (confirm('¿Confirmar pase?')) {
                     confirmar(beep, content, cantidad);
                  }
               }
				}
					// console.log('x');
					// confirmar(beep, content); }
					// alert(content);
			});

			Instascan.Camera.getCameras().then(function (cameras) {
				back = 0;
				for (i=0; i< cameras.length; i++) {
					if (cameras[i].name.indexOf('back') >= 0) { back = i }
				}
				if (cameras.length > 0) {
					scanner.mirror = false;
					scanner.start(cameras[back]);
				} else {
					console.error('No cameras found.');
				}
			}).catch(function (e) {
				console.error(e);
			});

         function volveralmenu() {
            window.location.replace(salir);
         }

			function confirmar(sonido, contenido, cantidad) {
				document.getElementById('beep').src = sonido;
				let sound = document.getElementById('beep');
				if (sound) { sound.play(); }
				xURL = contenido.split('?');
				yURL = xURL[1].split('=');
				zURL = yURL[1];
				aURL = xURL[0].split('.php');
				console.log(aURL[0]);
				// console.log(aURL[0]+'?id='+zURL+'&operador='+operador+'&dia='+dia+'&cantidad='+cantidad);
				// URL = contenido+'&operador='+operador+'&dia='+dia+'&cantidad='+cantidad;
				// URL = aURL[0]+'?id='+zURL+'&operador='+operador+'&dia='+dia+'&cantidad='+cantidad;
				// fetch(URL, {
				// 	method: 'GET', 
				// 	mode: 'no-cors'
				// })

				URL = aURL[0];
				
				let data = new FormData();
            data.append("operador", operador);
            data.append("dia",      dia);
            data.append("id",       zURL);
            data.append("cantidad", cantidad);

            fetch(URL, {
               method: 'POST',
               body: data
            })
            .then((response) => response.json())
            .then((responseData) => {
					console.log(responseData);
               if (responseData.exito=="SI") {
                  alert(responseData.mensaje);
               } else {
                  alert(responseData.mensaje);
               }
            });
			}
		</script>
	</body>
</html>

<!-- 
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Instascan</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="sidebar">
        <section class="cameras">
          <h2>Cameras</h2>
          <ul>
            <li v-if="cameras.length === 0" class="empty">No cameras found</li>
            <li v-for="camera in cameras">
              <span v-if="camera.id == activeCameraId" :title="formatName(camera.name)" class="active">{{ formatName(camera.name) }}</span>
              <span v-if="camera.id != activeCameraId" :title="formatName(camera.name)">
                <a @click.stop="selectCamera(camera)">{{ formatName(camera.name) }}</a>
              </span>
            </li>
          </ul>
        </section>
        <section class="scans">
          <h2>Scans</h2>
          <ul v-if="scans.length === 0">
            <li class="empty">No scans yet</li>
          </ul>
          <transition-group name="scans" tag="ul">
            <li v-for="scan in scans" :key="scan.date" :title="scan.content">{{ scan.content }}</li>
          </transition-group>
        </section>
      </div>
      <div class="preview-container">
        <video id="preview"></video>
      </div>
    </div>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
 -->