* {
    padding: 0;
    margin: 0;
    --columnas: 1;
    --filas: 1;
    --ancho: 240px;
    --alto: 240px;
    --linea: 10px;
}

body {
    background: #cbe7f1c2
}

#container {
    padding: 1em;
    margin: auto;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    margin: 10px auto;
    height: auto;
    width: 12em;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#div1 {
    padding: 0.5em 0 0.5em 0;
    background: gray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.cmps {
    padding: 0.5em 0 0 0;
    display: flex;
    flex-direction: row;
}

.etiq {
    width: 37.5%;
    /* height: 20px; */
    justify-content: middle;
    color: white;
}

.etiq2 {
    width: 100%;
}

.campo {
    border-radius: 5px;
}

.btns {
    padding-top: 0.5em;
    padding-right: 0.5em;
    text-align: right;
}

button {
    border-radius: 5px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media only screen and (max-width: 960px) {
    * {
        width: 100%;
        /* font-size: 105%; */
    }
    .logo {
        padding-bottom: 0.5em;
        width: 8em;
    }
    img {
        width: 80%;
    }
	h2 {
		text-align: center;
	}
	h3 {
		/* color: blue; */
        padding-bottom: 0.5em;
	}
    h5 {
        text-align: center;
    }
    #container {
        width: 80%;
    }
    .cmps {
        flex-direction: column;
        padding: 0 0 2.25em 0;
    }
    .etiq {
        width: 100%;
        justify-content: left;
    }
    .campo {
        width: 90%;
        margin: auto;
    }
    .btns {
        text-align: center;
    }
    button {
        margin-top: 0.5em;        
    }
}
/*
@media only screen and (max-width: 1260px) {
    .logo {
        padding-bottom: 0.5em;
        width: 8em;
    }
    img {
        width: 80%;
    }
    h3 {
        padding-bottom: 0.5em;
    }
    .cmps {
        padding: 0 0 2.25em 0;
    }
}
*/