* {
    padding: 0;
    margin: 0;
    --columnas: 1;
    --filas: 1;
    --ancho: 180px;
    --alto: 100px;
    --linea: 10px;
}

body {
    background: #cbe7f1c2
}

#container {
    padding: 1em;
    margin: auto;
    width: 60%;
    /* min-width: 400px; */
    /* background: lightgray; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    margin: 10px auto;
    height: auto;
    width: 12em;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#div1 {
    height: 45em;
}

.seccion {
    width: 100%;
    text-align: left;
    padding: 10px 0 0;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--ancho));
    grid-template-rows: repeat(auto-fit, var(--alto));
    justify-content: center;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: var(--linea);
    grid-auto-flow: row dense;
    padding: 20px;
    border: solid gray thin;
    border-radius: 10px;
    width: auto;
}

a {
    text-decoration: none;
    color: white;
    font-size: 90%;
}

.item {
    /* background: #fff; */
    background: gray;
    display: grid;
    height: var(--alto);
    /* grid-template-columns: calc(var(--ancho)*.7) 1 1;
    grid-template-rows: calc(var(--alto)*.7) 1 1; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: black solid thin; */
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.img_opcion {
    width: auto;
    height: auto;
    max-width: calc(var(--ancho)*.7);
    max-height: calc(var(--alto)*.7);
    object-fit: fill;
    display: block;
}

#clavecanje {
    display: none;
}

@media only screen and (max-width: 960px) {
    * {
        width: 100%;
    }
    .img-logo {
        width: 8em;
    }
    h2 {
        text-align: center;
        font-size: 80%;
    }
    h3 {
        /* color: blue; */
        font-size: 80%;
    }
    h5 {
        text-align: center;
        font-size: 110%;
    }
    #container {
        width: 90%;
    }
    #div1 {
        height: 58em;
    }
    .catalogo {
        grid-template-columns: repeat(auto-fit, calc(var(--alto)*1.2));
        padding: 20px 5px;
    }
    .item {
        width: calc(var(--alto)*1.2);
    }
    .imagen {
        width: auto;
        padding: 0.5em;
        margin: auto;
    }
    #seccion3 {
        display: none;
    }
    #comercios3 {
        display: none;
    }
    #clavecanje {
        display: flex;
    }
}
